// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "targets": {
//           "node": "current"
//         }
//       }
//     ]
//   ]
// }

{
  "presets": ["@babel/preset-env"]
}

// {
//   "presets": [
//     ["@babel/preset-env", {
//       "targets": {
//         "node": "current"
//       }
//     }]
//   ],
//   "plugins": [
//     "@babel/plugin-transform-runtime"
//   ]
// }
